@import './d2-angular/table/table';

$app-width: 80%;

body {
  width: 100%;
  div.app {
    width: $app-width;
  }
}

.side-nav-left-group {
  font-size: 1.4rem;
  list-style: none;
  padding: 0;
  margin: 0;

  li a {
    width: 100%;
    text-align: left;
    display: block;
    text-transform: none;
  }
}
